<div class="services">
    <div class="section-header">
        <h1>What we do for you.</h1>
        <p>We walk with you and develop your idea into life changing solution.</p>
    </div>
    <div class="l-bgwave"></div>
    <div class="l-ImgContainer">
        <div class="l-Img aos-init aos-animate" data-aos="fade-right" data-aos-duration="500"
            data-aos-easing="ease-in-sine">
            <div class="l-InnerImg"><img alt="UX,UI and graphic design, User Experience, User Interface"
                    src="../../assets/img/services/system.jpg"></div>
            <div class="l-InnerHeading">
                <h1>System Design</h1>
            </div>
            <div class="l-InnerSubtext">
                <p> You will no longer have the frustration of trying to tell your developers
                    what you want, our BAs do that for you. You still get to be a part of the system design,
                    wire-framing, prototyping and see what you want built before it gets developed.
                </p>
            </div>
        </div>
        <!---->
        <div class="l-Img ng-star-inserted aos-init aos-animate" data-aos="fade-down" data-aos-duration="500"
            data-aos-easing="ease-in-sine" id="l-MiddleImg">
            <div class="l-InnerImg"><img alt="Software, Web, API and App development"
                    src="../../assets/img/services/software.jpg"></div>
            <div class="l-InnerHeading">
                <h1>Software Development </h1>
            </div>
            <div class="l-InnerSubtext">
                <p> We know that each client business and requirements are unique. You get a full team of experts, and
                    only pay for the skills you need. You
                    not only get the most modern technology but you get it at a cheaper price and faster speed than the
                    market. You also get the analytics needed for true growth hacking! </p>
            </div>
        </div>
        <!---->
        <div class="l-Img ng-star-inserted aos-init aos-animate" data-aos="fade-left" data-aos-duration="500"
            data-aos-easing="ease-in-sine">
            <div class="l-InnerImg"><img alt="Specno System Design Animation"
                    src="../../assets/img/services/mobile.jpg"></div>
            <div class="l-InnerHeading">
                <h1>Mobile App Development</h1>
            </div>
            <div class="l-InnerSubtext">
                <p>App development has made it possible to boost engagement with your company audience, carrying your
                    business everywhere at any time.Our Mobile Application Development experience covers both native and
                    cross platform.</p>
            </div>
        </div>
    </div>
</div>