
<section id="home" class="clearfix brws-pg" role="main" style="margin-top: 75px;">
    <div class="not-library-page">
        <div id="browse-top">
            <div class="browse-hero section">
                <div>
                    <div class="block block-content bg-image"></div>
                    <div class="row column-control--super-wide title"> 
                        
                        <div class="large-12 columns">
                           <div class="browse-breadcrumbs">
                                <!--a href="/browse">Browse</a>&nbsp;&nbsp;›&nbsp;
                                <a href="/browse/it-ops">IT ops</a>&nbsp;&nbsp;›&nbsp;
                                <span>Mogz Group</span>-->
                            </div>
                        </div>
                        <div class="large-7 columns left-column">
                            <!--<div class="section-image">
                                <img class="pillar-icon" src="../../assets/img/icons/it-ops.png" alt="Icon">
                            </div>-->
                            <div class="section title2">
                                <h1 class="title--ultra">Grow your Business with  <span
                                        class="scribble-under pink stamped">IT solutions<span
                                            class="scribble-under-block"><img
                                                src="../../assets/img/icons/line-pink.png"
                                                alt="Underline"></span></span></h1>
                            </div>
                            <div class="section text-4">
                                <div class="section-description">
                                    <p>
                                        Our connection is dynamic thanks to the to the same passion and goals we share. Technology and tools advancing is our forte. With the velocity of time we have a team of business analysts , software developers and designers that are driven by innovation and technology. 
                                        We build highly scalable tech, and help your ideas come to life
                                    </p>
                                   <!-- <p>We come together thanks to the same passion and goals we share. We love technologies and tools advancing with the pace of time and we have team of business analysts, software developers, and designers that are driven by innovation and technology. 
                                        We build highly scalable tech and help your ideas come to life. </p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</section>

<section id="services">
    <app-service></app-service>
</section>